.switch {
  display: flex;
  position: relative;
  margin-left: auto;
  font-family: CabinetGrotesk;
  font-size: 14px;
  font-weight: 700;
  color: #7e7e7e;
}

.switch:hover {
  color: black;
}

.switch__box {
  border-radius: 25px;
  border: 2px solid #7e7e7e;
  width: 56px;
  height: 28px;
  appearance: none;
}

.switch__box:hover {
  border-color: black;
}

.switch__slider {
  border-radius: 20px;
  width: 28px;
  height: 28px;
  background-color: black;
  text-align: center;
  cursor: pointer;
  position: absolute;
}

.switch__slider-F {
}

.switch__slider-C {
  right: 0px;
}

.switch__temp-F {
  margin: 0;
  text-align: center;
  vertical-align: middle;
  line-height: 28px;
  width: 28px;
  height: 28px;
  position: absolute;
}

.switch__temp-C {
  margin: 0;
  text-align: center;
  vertical-align: middle;
  line-height: 28px;
  width: 28px;
  height: 28px;
  position: absolute;
  right: 0px;
}

.switch__active {
  color: white;
}
