.modal__content_type_delete {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 60px 0;
}

.modal__close_type_delete {
}

.modal__title_type_delete {
  font-family: CabinetGrotesk;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  margin: 0;
  padding: 0 0 40px 0;
}

.modal__delete_confirm {
  border: none;
  color: #ff4d00;
  background-color: #ffffff;
  font-family: CabinetGrotesk;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  padding: 0;
  margin: 0 auto;
  max-width: 138px;
  cursor: pointer;
}

.modal__delete_cancel {
  border: none;
  color: #000000;
  background-color: #ffffff;
  font-family: CabinetGrotesk;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin: 0 auto;
  padding: 24px 0 0 0;
  max-width: 61px;
  cursor: pointer;
}
